.title-section {
  display: flex;
  padding: 15px;
}
.user-photo_update {
  border-radius: 100px;
  max-width: 200px;
  margin-right: 25px;
}

.button-goback {
  border: 100px;
  height: 50px;
  margin-right: 25px;
}

.user-name {
  margin-top: auto;
}
